body{
    font-family: "mulish", sans-serif ;
    height: 100vh;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.navbar-nav li a{
    line-height: 23px;
    margin: 0 20px;
}

.container-items h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.container-items p{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}
.btn-consult-today{
    padding: 15px 40px; 
}

.service{
    grid-area:OurService;
    padding-top: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rectangleline{
    align-self: center;
}
.service-description{
    font-weight: 300;
    color: #7d7987;
    font-size: 15px;
    line-height: 30px;
}
.bg-primary-gradient{
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    
}
.customer-image{
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}

.article-part{
    margin-top: 200px;
}